# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/Project/ProjectCore/[Ll]ibrary/
/Project/ProjectCore/[Tt]emp/
/Project/ProjectCore/[Oo]bj/
/Project/ProjectCore/[Bb]uild/
/Project/ProjectCore/[Bb]uilds/
/Project/ProjectCore/[Ll]ogs/
/Project/ProjectCore/[Uu]ser[Ss]ettings/

/Lesson_1/[Ll]ibrary/
/Lesson_1/[Tt]emp/
/Lesson_1/[Oo]bj/
/Lesson_1/[Bb]uild/
/Lesson_1/[Bb]uilds/
/Lesson_1/[Ll]ogs/
/Lesson_1/[Uu]ser[Ss]ettings/

/Lesson_2/[Ll]ibrary/
/Lesson_2/[Tt]emp/
/Lesson_2/[Oo]bj/
/Lesson_2/[Bb]uild/
/Lesson_2/[Bb]uilds/
/Lesson_2/[Ll]ogs/
/Lesson_2/[Uu]ser[Ss]ettings/

/Lesson_3/[Ll]ibrary/
/Lesson_3/[Tt]emp/
/Lesson_3/[Oo]bj/
/Lesson_3/[Bb]uild/
/Lesson_3/[Bb]uilds/
/Lesson_3/[Ll]ogs/
/Lesson_3/[Uu]ser[Ss]ettings/

/Lesson_4/[Ll]ibrary/
/Lesson_4/[Tt]emp/
/Lesson_4/[Oo]bj/
/Lesson_4/[Bb]uild/
/Lesson_4/[Bb]uilds/
/Lesson_4/[Ll]ogs/
/Lesson_4/[Uu]ser[Ss]ettings/

/Lesson_5/[Ll]ibrary/
/Lesson_5/[Tt]emp/
/Lesson_5/[Oo]bj/
/Lesson_5/[Bb]uild/
/Lesson_5/[Bb]uilds/
/Lesson_5/[Ll]ogs/
/Lesson_5/[Uu]ser[Ss]ettings/

/Lesson_6/[Ll]ibrary/
/Lesson_6/[Tt]emp/
/Lesson_6/[Oo]bj/
/Lesson_6/[Bb]uild/
/Lesson_6/[Bb]uilds/
/Lesson_6/[Ll]ogs/
/Lesson_6/[Uu]ser[Ss]ettings/

/Lesson_7/[Ll]ibrary/
/Lesson_7/[Tt]emp/
/Lesson_7/[Oo]bj/
/Lesson_7/[Bb]uild/
/Lesson_7/[Bb]uilds/
/Lesson_7/[Ll]ogs/
/Lesson_7/[Uu]ser[Ss]ettings/

/Lesson_8/[Ll]ibrary/
/Lesson_8/[Tt]emp/
/Lesson_8/[Oo]bj/
/Lesson_8/[Bb]uild/
/Lesson_8/[Bb]uilds/
/Lesson_8/[Ll]ogs/
/Lesson_8/[Uu]ser[Ss]ettings/

/Lesson_9/[Ll]ibrary/
/Lesson_9/[Tt]emp/
/Lesson_9/[Oo]bj/
/Lesson_9/[Bb]uild/
/Lesson_9/[Bb]uilds/
/Lesson_9/[Ll]ogs/
/Lesson_9/[Uu]ser[Ss]ettings/

/Lesson__10/[Ll]ibrary/
/Lesson__10/[Tt]emp/
/Lesson__10/[Oo]bj/
/Lesson__10/[Bb]uild/
/Lesson__10/[Bb]uilds/
/Lesson__10/[Ll]ogs/
/Lesson__10/[Uu]ser[Ss]ettings/

/Lesson__11/[Ll]ibrary/
/Lesson__11/[Tt]emp/
/Lesson__11/[Oo]bj/
/Lesson__11/[Bb]uild/
/Lesson__11/[Bb]uilds/
/Lesson__11/[Ll]ogs/
/Lesson__11/[Uu]ser[Ss]ettings/

/Lesson__12/[Ll]ibrary/
/Lesson__12/[Tt]emp/
/Lesson__12/[Oo]bj/
/Lesson__12/[Bb]uild/
/Lesson__12/[Bb]uilds/
/Lesson__12/[Ll]ogs/
/Lesson__12/[Uu]ser[Ss]ettings/

/Lesson__13/[Ll]ibrary/
/Lesson__13/[Tt]emp/
/Lesson__13/[Oo]bj/
/Lesson__13/[Bb]uild/
/Lesson__13/[Bb]uilds/
/Lesson__13/[Ll]ogs/
/Lesson__13/[Uu]ser[Ss]ettings/

/Lesson__14/[Ll]ibrary/
/Lesson__14/[Tt]emp/
/Lesson__14/[Oo]bj/
/Lesson__14/[Bb]uild/
/Lesson__14/[Bb]uilds/
/Lesson__14/[Ll]ogs/
/Lesson__14/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
Lesson_1/.vsconfig
Lesson_2/.vsconfig